.adminContainer{
  height: 100%;
}
.choiseOption {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vw;
  margin-top: 0.7vw;
}
.addManager {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 1vw;
  color: white;
  font-size: 1vw;
  text-decoration: none;
  border: 1px solid gray;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}
.addManager img {
  height: 1vw;
  width: 1vw;
  margin-left: 0.5vw;
}
.addCard {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 1vw;
  color: white;
  font-size: 1vw;
  text-decoration: none;
  border: 1px solid gray;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;                                                              
}
.addCard img {
  height: 1vw;
  width: 1vw;
  margin-right: 0.5vw;
}
.addCard:hover {
  background-color: #004884;                                                                   
}
.addManager:hover {
  background-color: #004884;                                                                   
}
.mainContainer {
  height: 46.5vw;
  padding: 1vw;
}