.cardContainerBlock {
  display: flex;
}
.DocCardDataButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1vw;
  height: 33.3vw;
  width: 21.5vw;
  border: 0.05208vw solid #7d7d7d;
  border-radius: 0.5vw;
  z-index: 2;
  margin-top: 1vw;
  margin-left: 1vw;
}
.DocAdditionList {
  width: 21.5vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1vw;
  overflow-y: scroll;
}
.DocAdditionList h1 {
  font-size: 1vw;
}
.documentCardContainer {
    position:sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    height: 46.5vw;
    width: 98%;
    left: 0vw;
    border: 0.05208vw solid #7d7d7d;
    border-radius: 1vw;
    background-color: #171717;
    margin-top: 5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.DocumentCardDataContainer {
  height: 32vw;
  min-width: 21.5vw;
  border: 0.05208vw solid #7d7d7d;
  border-radius: 0.5vw;
  margin: 1vw;
  padding-top: 1.3vw;
  margin-right: 0;
  overflow-y: scroll;
}
.DocumentCardDataContainer h1 {
  width: 10vw;
    color: black;
    display: flex;
    align-items: center;
    font-size: 1vw;
    margin-top: 0;
    margin-left: 0.5vw;
    margin-right: 1.5vw;
    margin-bottom: 0;
}
.DocumentCardDataTitleContent {
    position: absolute;
    top: 36vw;
    left: 1vw;
    height: 9vw;
    width: 44.27vw;
    display: block;
    align-items: center;
    border: 0.05208vw solid #7d7d7d;
    border-radius: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 0;
}
.DocumentCardDataTitleContent h1 {
  color: black;
  font-size: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}


.additionBlockContainer {
  display: flex;
  width: 19.6vw;
  flex-direction: column;
  border: 0.05208vw solid #7d7d7d;
  border-radius: 0.5vw;
  margin-bottom: 0.5vw;
  padding-top: 1vw;
  padding-bottom: 0.5vw;
  background-color: #171717;
}
.additionBlockContainer:hover {
   background-color: #0091f2 !important;
   color: black !important;
} 
.additionBlockContainer h1 {
  font-size: 1vw;
   margin: 0 0 .5vw 1vw;
   line-height: 1vw;
   text-align: start;
}


.DocCardDataTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
}
.DocCardPdfDocContainer {
  height: 44.4vw;
  width: 100%;
  margin: 1vw;
}