.log_inContainer {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F5F5F5;
}

.log_inForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 30vw;
   width: 30vw;
   border: 1px solid gray;
   border-radius: 1vw;
   background-color: #F0F0F0;
   box-shadow: 0vw 0.5vw 1vw 0;

}

.back_button_container {
   width: 100%;
   padding-left: 8.5vw;
}



.log_in_input {
   font-family: sans-serif;
   border: 1px solid gray;
   border-radius: 0.5vw;
   color: black;
   width: 20vw;
   height: 3vw;
   font-size: 1.5vw;
   margin-bottom: 1vw;
   padding-left: 0.5vw;
   padding-right: 0.5vw;
}

.log_in_text {
   color: #004884;
   margin: 0;
   font-size: 3vw;
   margin-bottom: 1vw;
}

.log_text {
   color: black;
   font-family:sans-serif;
   font-size: 1vw;
   margin-top: 0;
   margin-bottom: 1vw;
}

.sendButton {
   font-family:sans-serif;
   width: 21.195vw;
   height: 3vw;
   font-size: 1.5vw;
   border-radius: 0.5vw;
   background-color: #004884;
   border: 1px solid gray;
   color: white;
   margin-bottom: 1vw;
   cursor: pointer;
}

.sendButton:hover {
   background-color: #023a68;
}