.manaderContainer {
  padding-top: 5.7vw;
  height: 46.5vw;
  padding-left: 1vw;
}
#validityPeriod {
  margin-left: 1vw;
}

.contentTitle {
  font-size: 1vw;
  overflow-y: scroll;
  background: none;
  color: black;
  border: none;
  height: 5.2vw;
  width: 70.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

