.choiseContainer {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #004884;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 20vw;
   width: 25vw;
   border: 1px solid gray;
   border-radius: 10px;
   background-color:#2e2e2e;
}

.choiseText {
   color: white;
   margin-top: 3vw;
   margin-bottom: 2vw;
}

.choiseButton {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   font-family: sans-serif;
   height: 2.1vw;
   width: 10vw;
   margin-bottom: 2vw;
   background-color: #004884;
   border: 1px solid gray;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}

.choiseButton:hover {
   background-color: #023a68;
}

