.addCardContainer {
   height: 100%;    
   display: flex;
   flex-direction: row;
}
.cardListContainer {
   display: flex;
   width: 22vw;
   align-items: center;
   flex-direction: column;
   height: 46.001vw;
   border: 0.05208vw solid black;
   background-color: #EAEAEA;
   border-radius: 1vw;
   padding-bottom: 0.5vw;
}
.cardListTitle {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: black;
   border-bottom: 0.05208vw solid black;
   width: 100%;
   padding-bottom: 1.5vw;
   padding-top: 1.5vw;
   margin-bottom: 0.5vw;
}
.cardListTitle h1 {
   margin: 0;
   font-size: 1.5vw;
   margin-left: 1vw;
}
.cardListTitle button {
   display: flex;
   align-items: center;
   justify-content: center;
   background: none;
   border: none;
   cursor: pointer;
   height: 2vw;
   width: 2vw;
   margin-right: 1vw;
   padding: 0;
}
.cardListTitle img {
   height: 2vw;
   width: 2vw;
}
.cardList {
   overflow-y: auto;
   height: 100%;
   width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.cardList h1 {
   font-size: 1vw;
}
.CardBlock {
   border: 0.05208vw solid black;
   border-radius: 0.5vw;
   width: 20.1vw;
   margin-top: 0.5vw;
   color: black;
   cursor: pointer;
   padding-top: 1vw;
   padding-bottom: 0.5vw;
   background-color: aliceblue;
}
.CardBlock h1 {
   margin: 0;
   margin-left: 1vw;
   font-size: 1vw;
}
.cardBlockDateContainer {
   display:  flex;
   flex-direction: column;
}
.cardBlockDateContainer h1 {
   font-size: 0.8vw;
   margin: 0;
   margin-left: 1vw;
   margin-bottom: 0.5vw;
}
.addCardForm {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 46.501vw;
   width: 75vw;
   left: 23.88vw;
   border: 0.05208vw solid black;
   border-radius: 1vw;
   background-color: #EAEAEA;
}
.addCardForm h1 {
   color: black;
   font-size: 1.5vw;
   margin-top: 1.635vw;
   margin-bottom: 1.635vw;
}
.addCardFormInput {
  display: flex;
  width: 73vw;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.5vw;
  border: 0.05208vw solid black;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 1vw;
}
.inputsContainer {
   display: flex;
   width: 21.9vw;
   flex-direction: column;
   margin-right: 1vw;
}
.addInput h1 {
   font-size: 1vw;
   width: 9vw;
   margin: 0;
}



.addInput select {
   background-color: #f0f8ff;
   border-radius: 0.5vw;
   color: #000;
   font-size: 1vw;
   padding-left: 0.3vw;
   height: 2vw;
   border: 0.05208vw solid #000;
   width: 12.6vw;
   appearance: none;
   background-position: right 1vw center;
   background-repeat: no-repeat;
   background-size: 1vw;
   padding-right: 0vw;
   background-image: url(../../icons/down-arrow.png);
}
.addInput select:focus {
   outline: none;
   border: 0.05208vw solid #2a65d1;
   border-radius: 0.5vw;
}
input select:-webkit-autofill {
   font-size: 1vw;
}

.addInput input {
   width: 13vw;
   height: 2vw;
   border-radius: 0.5vw;
   font-size: 1vw;
   background: none;
   border: 0.05208vw solid black;
   color: black;
   background-color: aliceblue;
}
.addInput input:focus {
   outline: none;
   border: 0.05208vw solid #2a65d1;
   border-radius: 0.5vw;
}
.addInput input:-webkit-autofill {
   font-size: 1vw;
}

.addInput textarea {
   border-radius: 0.5vw;
   font-size: 1vw;
   font-family:sans-serif;
   background: none;
   border: 0.05208vw solid black;
   color: black;
   background-color: aliceblue;
   resize: none;
   padding: 0.3vw;
}
.addInput textarea:focus {
   outline: none;
   border: 0.05208vw solid #2a65d1;
   border-radius: 0.5vw;
}
.addInput textarea:-webkit-autofill {
   font-size: 1vw;
}


.addInput {
   align-items: center;
   display: flex;
   height: 3vw;
   justify-content: space-between;
   margin-bottom: 1vw;
   margin-left: 0.5vw;
   margin-right: 0.5vw;
}




input[type="date"] {
   font-family:sans-serif;
   font-size: 1vw
}
input[type="date"]:hover {
   background-color:silver; 
}

.choosePDFContainer {
   width: 73vw;
   border: 0.05208vw solid black;
   border-bottom-right-radius: 0.5vw;
   border-bottom-left-radius: 0.5vw;
   border-top: none;
   display: flex;
   align-items: center;
   margin-left: 1vw;
   margin-right: 1vw;
}
.choosePDFContainer input {
   margin-top: 0.6vw;
   margin-bottom: 0.6vw;
   width: 20vw;
   font-size: 1vw;
   border: none;
   display: flex;
   border-radius: 0;
}
.choosePDFContainer span {
   font-size: 1vw;
   font-family: sans-serif;
   margin-left: 1vw;
}
.custom-file-label {
   display: flex;
   height: 2vw;
   width: 10vw;
   align-items: center;
   justify-content: center;
   font-family: sans-serif;
   font-size: 1vw;
   background-color: #004884;
   color: white;
   border-radius: 0.3vw;
   border-top-left-radius: 0;
   cursor: pointer;
}
.custom-file-label:hover {
   background-color: #023a68;
}
.mt-2 {
   font-size: 1vw;
   margin-left: 1vw;
}
.contentContainer {
   width: 73vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 1vw;
   margin-right: 1vw;
}
.contentContainer h1 {
   font-size: 1vw;
}
.contentContainer textarea {
   height: 8vw;
   border: none;
   padding: 1vw;
   font-size: 1vw;
   border-radius: 0.5vw;
   border: 0.05208vw solid black;
   color: black;
   background-color: aliceblue;
   resize: none;
   margin-bottom: 1vw;
}
.addButtons {
   margin-top: 0.5vw;
   width: 73vw;
   display: flex;
   justify-content: end;
}
.addButtons button {
   height: 3vw;
   width: 12vw;
   font-size: 1vw;
   cursor: pointer;
   border: 0.05208vw solid gray;
   border-radius: 0.5vw;
   background-color: #004884;
   color: white;
}
.addButtons button:hover {
   background-color: #023a68;
}
.logContainer {
   margin-top: 0.5vw;
   margin-bottom: 0.5vw;
   display: flex;
   justify-content: center;
}
.logContainer h1 {
   font-size: 1vw;
   margin: 0;
}
.addCardFormHeader {
   width: 73vw;
   display: flex;
   align-items: center;
}
.addCardFormHeader button {
   color: black;
    font-size: 2vw;
    font-family: sans-serif;
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 26vw;
}
.approveModalContainer {
   width: 73vw;
   margin-left: 1vw;
   margin-right: 1vw;
   display: flex;
   justify-content: space-between;
}
.sendData {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-top: 1vw;
   padding-bottom: 1vw;
   border-bottom: 0.05208vw solid black;
}
.approveModalContainer h1 {
   font-size: 1.3vw;
   width: 13vw;
   margin: 0;
   margin-left: 1vw;
}
.approveModalContainer p {
   margin: 0;
   font-size: 1.2vw;
   width: 15vw;
   overflow-wrap: break-word;
   white-space: normal;
}
.approveModalContainer .approveModalContent {
   margin-top: 0;
   width: 28vw;
   margin-left: 1vw;
   margin-right: 1vw;
}
.approveModalContainer .approveModalContentTitle {
   margin: 0;
   margin-top: 1vw;
   margin-left: 1vw;
}
#approvedLog {
   font-size: 1vw;
   margin: 0;
   margin-top: 1vw;
}
.sendDataContainer {
   height: 34.2vw;
   width: 30vw;
   overflow-y: scroll;
   overflow-x: hidden;
   padding-bottom: 1vw;
   border-radius: 0.5vw;
   border: 0.05208vw solid black;
}
.pdfDocContainer {
   height: 35vw;
   width: 41.6vw;
}
.backButton {
   color: black;
   width: 100%;
}
