.cardFilterListContainer {
   position: absolute;
   left: 25vw;
   display: flex;
   width: 23vw;
   align-items: center;
   flex-direction: column;
   height: 45vw;
   border: 0.05208vw solid black;
   border-radius: 1vw;
   padding-bottom: 1vw;
   padding-top: 0.5vw;
   background-color: #EAEAEA;
}
.filterAdditionTitle {
   display: flex;
   align-items: center;
   border-bottom: 0.05208vw solid black;
}
.filterAdditionTitle h1 {
   display: flex;
   justify-content: center;
   width: 23vw;
   font-size: 1.5vw;
   margin-top: 1.635vw;
   margin-bottom: 1.635vw;
}
.CardBlockFilter {
   border: 0.05208vw solid black;
    border-radius: 0.5vw;
    width: 20vw;
    margin-top: 0.5vw;
    color: black;
    cursor: pointer;
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    background-color: aliceblue;
}
.filterContainer {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: black;
   height: 46.5vw;
   width: 23vw;
   left: 0.88vw;
   border: 0.05208vw solid black;
   background-color: #EAEAEA;
   border-radius: 1vw;
}
.filterTitle {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 22vw;
}
.filterTitle button {
   color: black;
   font-size: 2vw;
   font-family: sans-serif;
   height: 3vw;
   width: 3vw;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   background: none;
   cursor: pointer;
   padding: 0;
}
.filterTitle button img {
   height: 2vw;
   width: 2vw;
}
.filterTitle h1 {
   font-size: 1.5vw;
   margin-top: 1.635vw;
   margin-bottom: 1.635vw;
}
.filterContainer input {
   width: 13vw;
   height: 2vw;
   border-radius: 0.5vw;
   font-size: 1vw;
   background: none;
   border: 0.05208vw solid gray;
   color: white;
}
.filterCardFormInput {
   display: flex;
   width: 23vw;
   height: 41.5vw;
   align-items: center;
   flex-direction: column;
   overflow-y: scroll;
   border-top: 0.05208vw solid black;
   border-bottom: 0.05208vw solid black;
}
.filterErrorTitle {
   font-size: 1vw;
}
.inputsContainer {
   display: flex;
   width: 21.9vw;
   flex-direction: column;
   margin-right: 0vw;
}
.addInput {
   height: 3vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 0.5vw;
   margin-right: 0.5vw;
   margin-bottom: 1vw;
}
.addInput h1 {
   font-size: 1vw;
   width: 9vw;
   margin: 0;
}




.addInput select {
   height: 2vw;
   width: 12.4vw;
   font-size: 1vw;
   border: 0.05208vw solid black;
   border-radius: 0.5vw;
   color: black;
   background-color: aliceblue;
}
.addInput select:focus {
   outline: none;
   border: 0.05208vw solid #2a65d1;
   border-radius: 0.5vw;
}
input select:-webkit-autofill {
   font-size: 1vw;
}

.addInput input {
   width: 12vw;
   height: 2vw;
   border-radius: 0.5vw;
   font-size: 1vw;
   font-family: sans-serif;
   background: none;
   border: 0.05208vw solid black;
   color: black;
   background-color: aliceblue;
   padding: 0.3vw;
}
.addInput input:focus {
   outline: none;
   border: 0.05208vw solid #2a65d1;
   border-radius: 0.5vw;
}
.addInput input:-webkit-autofill {
   font-size: 1vw;
}

.addInput textarea {
   border-radius: 0.5vw;
   font-size: 1vw;
   font-family:sans-serif;
   background: none;
   border: 0.05208vw solid black;
   color: black;
   background-color: aliceblue;
   resize: none;
   padding: 0.3vw;
}
.addInput textarea:focus {
   outline: none;
   border: 0.05208vw solid #2a65d1;
   border-radius: 0.5vw;
}
.addInput textarea:-webkit-autofill {
   font-size: 1vw;
}




.filterButtons {
   margin-top: 0.5vw;
   width: 21vw;
   display: flex;
   justify-content: end;
}
.filterButtons button {
   background-color: #004884;
   color: white;
   border: 0.05208vw solid gray;
   border-radius: 0.5vw;
   height: 2vw;
   width: 10vw;
   font-size: 1vw;
   cursor: pointer;
}
.filterButtons button:hover {
   background-color: #023a68;
}