.headerContainer {
  width: 100%;
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: end;
  margin-top: 1vw;
}

.headerContainer p {
  font-size: 1.5vw;
}

.exitButton {
  display: flex;
  height: 2.5vw;
  width: 2.5vw;
  margin-right: 1vw;
}
.exitButton img {
  height: 100%;
  width: 100%;
}
