.headerContainer {
  display: flex;
  align-items: center;
  justify-content:end;
  height: 3vw;
  background-color: #004884;
  color: white;
}

.headerContainer p {
  font-size: 1.5vw;
}

.exitButton {
  height: 2.5vw;
  width: 2.5vw;
  margin-right: 1vw;
}
.exitButton img {
  height: 100%;
  width: 100%;
}