.cardBlockContainer {
   display: flex;
   height: 40.501vw;
   width: 50vw;
   padding-top: 1vw;
   color: white;
   background-color: #171717;
   border: 0.05208vw solid #7d7d7d;
   border-radius: 1vw;
   margin-left: 1vw;
}
.cardContainer {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50vw;
   overflow-y: scroll;
   overflow-x: hidden;
}
.cardContainerBlock {
   display: flex;
   justify-content: space-between;
}
.cardDataButtons {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 !important;
   margin-bottom: 1vw !important;
   padding-bottom: 1vw;
   height: 34.3vw;
   width: 21.84vw;
   border: .05208vw solid #7d7d7d;
   border-radius: 0.5vw;
   z-index: 2;
}


.backButton {
   width: 100%;
}


.cardDataButtons .backButton button {
   border: none;
   height: 3vw;
   width: 3vw;
   font-size: 2vw;
   font-family: sans-serif;
   background-color: lavenderblush;
   color: black;
   margin: 0;
   margin-left: 1vw;
   background: none;
}
.cardDataButtons h1 {
   width: 16vw;
   font-size: 1vw;
   display: flex;
   flex-direction: column;
   text-align: center;
}
.cardDataButtonsContainer {
   width: 21.5vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-bottom: .05208vw solid #7d7d7d;
   padding-top: 1vw;
}


.changeFileButton {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: sans-serif;
   height: 2vw;
   width: 13vw;
   font-size: 1vw; 
   background: aliceblue;
   color: black;
   border-radius: 0.5vw;
   border: 0.05208vw solid #7d7d7d;
   cursor: pointer;
   margin-bottom: 0.5vw;
}
.changeFileButton:hover {
   background-color: #0091f2 !important;
   color: #000 !important;
}



.showFileTitle {
   display: flex;
   align-items: center;
   width: 15vw;
   font-size: 1vw;
   white-space: nowrap; 
   overflow: hidden; 
   text-overflow: ellipsis; 
}


.cardDataButtons button {
   height: 2vw;
   min-height: 2vw !important;
   width: 13vw !important;
   font-size: 1vw;
   margin: 0 !important;
   margin-bottom: 0.5vw !important;
   border-radius: 0.5vw;
   padding: 0;
   color: black;
   border: 0.05208vw solid #7d7d7d;
   cursor: pointer;
   background-color: aliceblue;
}
.cardDataButtons button:hover {
   background-color: #0091f2 !important;
   color: #000 !important;
}


.saveCangesButton {
   margin: 0 !important;
   font-size: 1vw !important;
   border: 0.05208vw solid #7d7d7d !important;
   cursor: pointer !important;
   padding: 0 !important;
   background-color: #004884 !important;
   border-radius: .5vw !important;
   color: #fff !important;
   height: 1.9vw;
   min-height: 1.9vw !important;
   left: 38.2vw;
   position: absolute;
   top: 32.4vw;
   width: 10vw !important;
}
.saveCangesButton:hover {
   background-color: #0091f2 !important;
   color: #000 !important;
}


.cardDataButtons .deleteCard {
   background-color: #b00303;
   color: white;
   cursor: pointer;
}


.deleteCard:hover {
   background-color: #8b0606 !important;
}
.deleteCard {
   background: #b00303;
   color: white;
   cursor: pointer;
}
.deleteCard:hover {
   background-color: #8b0606 !important;
}


.additionList {
   width: 21.5vw;
   height: 100%;
   overflow-y: scroll;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding-bottom: 0.5vw;
}
.additionList h1 {
   display: flex;
   justify-content: center;
   margin-top: 1vw;
}
.additionBlockContainer {
   display: flex;
   height: 6vw;
   width: 20vw !important;
   flex-direction: column !important;
   border: 0.05208vw solid #7d7d7d !important;
   border-radius: 0.5vw;
   margin-top: 0.5vw;
   padding-top: 1vw;
   padding-bottom: 0.5vw !important;
   background-color: #171717 !important;
}
.additionBlockContainer h1 {
   font-size: 1vw !important;
   margin: 0 0 .5vw 1vw !important;
   line-height: 1vw !important;
   text-align: start !important;
}
.additionBlockContainer:hover {
   background-color: #0091f2 !important;
   color: black !important;
}


.cardDataContainerBox {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 1vw;
   width: 24vw; 
   border: 0.05208vw solid #7d7d7d;
   border-radius: 0.5vw;
   z-index: 100;
   background-color: #171717;
}
.cardDataContainer {  
      width: 24vw;
      height:95%;
      padding-top: 1vw;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      z-index: 10;
}
.cardDataContainer input {
   border: 0.05208vw solid #7d7d7d;
   border-radius: 0.5vw;
   color: #000;
   font-size: 1vw;
   height: 2vw !important;
   min-height: 2vw;
   width: 12.4vw;
   background-color: #f0f8ff;
   padding: 0.3vw;
   margin: 0;
}
.cardDataContainer textarea {
   height: 3vw;
   min-height: 3vw !important;
   width: 12.4vw;
   font-size: 1vw;
   background: none;
   border: 0.05208vw solid #7d7d7d;
   border-radius: 0.5vw;
   color: black;
   background-color: aliceblue;
   resize: none;
   padding: 0.3vw;
}
.cardDataContainer select {
    background-color: #f0f8ff;
    background-position: right .5vw center !important;
    border: .05208vw solid #000;
    border-radius: .5vw;
    color: #000;
    font-size: 1vw;
    height: 2vw;
    min-height: 2vw;
    padding-left: .5vw !important;
    padding-right: .5vw !important;
    width: 12.4vw;
}
.cardDataTitle {
   height: 3vw;
   display: flex;
   align-items: center;
   margin-bottom: 1vw; 
}
.cardDataTitle p {
   margin: 0;
   font-size: 1vw;
   width: 12.4vw;
   color: white;
}
.cardDataContainer h1 {
   width: 8vw;
   color: white;
   display: flex;
   align-items: center;
   font-size: 1vw;
   margin-top: 0;
   margin-left: 0.5vw;
   margin-right: 1.5vw;
   margin-bottom: 0;
}
.cardDataTitleContent {
   height: 11.5vw;
   width: 46.8vw;
   display: block;
   align-items: center;
   border: 0.05208vw solid #7d7d7d;
   border-radius: 0.5vw;
   margin-bottom: 0;
}
.cardDataTitleContent h1 {
   color: white;
   font-size: 1vw;
   margin: 0;
   margin-top: 1vw;
   margin-left: 1vw;
}
.cardDataTitleContent textarea {
   font-size: 1vw;
   overflow-y: auto;
   color: black;
   height: 5.2vw;
   min-height: 5.2vw;
   width: 44.9vw;
   margin: 1vw;
   resize: none;
   border: 0.05208vw solid #7d7d7d;
   padding: 0.5vw;
   border-radius: 0.5vw;
   background-color: aliceblue;
}
.cardPdfDocContainer {
   background-color: #2e2e2e;
   height: 32.1vw;
   width: 46.8vw;
   z-index: 2;
   margin-top: 1vw;
   margin-right: 1vw;
   margin-left: 1vw;
   border: 0.05208vw solid #7d7d7d;
   border-radius: 0.5vw;
   min-height: 44.4vw;
}

