.cardBlockContainer {
   display: flex;
   position: absolute;
   height: 45.5vw;
   width: 50vw;
   left: 49.2vw;
   padding-top: 1vw;
   color: black;
   background-color:#EAEAEA;
   border: 1px solid black;
   border-radius: 1vw;
}
.cardContainer {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: black;
   height: 44.4vw;
   width: 50vw;
   overflow-y: scroll;
}
.cardContainerBlock {
   display: flex;
   justify-content: space-between;
}
.cardDataButtons {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 1vw;
   height: 34.3vw;
   width: 21.5vw;
   border: 1px solid black;
   border-radius: 0.5vw;
   z-index: 2;
}
.cardDataButtonsContainer {
   display: flex;
   width: 21.5vw;
   padding-top: 1vw;
   flex-direction: column;
   align-items: center;
   border-bottom: 1px solid black;
}
.backButton {
   width: 100%;
}
.cardDataButtons .backButton button {
   border: none;
   height: 3vw;
   width: 3vw;
   font-size: 2vw;
   font-family: sans-serif;
   background-color: lavenderblush;
   color: black;
   margin: 0;
   margin-left: 1vw;
   background: none;
}
.cardDataButtons h1 {
   width: 16vw;
   font-size: 1vw;
   display: flex;
   flex-direction: column;
}
.changeFileButton {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: sans-serif;
   height: 2vw;
   width: 11vw;
   font-size: 1vw; 
   background: aliceblue;
   color: black;
   border-radius: 0.5vw;
   border: 1px solid black;
   cursor: pointer;
}
.showFileTitle {
   display: flex;
   align-items: center;
   width: 15vw;
   font-size: 1vw;
   white-space: nowrap; 
   overflow: hidden; 
   text-overflow: ellipsis; 
}
.cardDataButtons button {
   height: 2vw;
   width: 11vw;
   font-size: 1vw;
   margin-bottom: 0.5vw;
   border-radius: 0.5vw;
   padding: 0;
   border: 1px solid black;
   cursor: pointer;
   background-color: aliceblue;
}
.saveCangesButton {
   position: absolute;
   height: 2vw;
   width: 10vw;
   top: 32.45vw;
   left: 37.6vw;
   font-size: 1vw;
   border: 1px solid black;
   border-radius: 0.5vw;
   cursor: pointer;
   color: white;
   background-color: #004884;
}
.saveCangesButton:hover {
   background-color: #023a68;
}
.cardDataButtons .deleteCard {
   background-color: #b00303;
   color: white;
   cursor: pointer;
}
.deleteCard:hover {
   background-color: #8b0606;
}
.additionList {
   width: 21.5vw;
   height: 17vw;
   display: flex;
   align-items: center;
   flex-direction: column;
   overflow-y: scroll;
   margin-bottom: 0.5vw;
}
.additionList h1 {
   display: flex;
   justify-content: center;
}
.additionBlockContainer {
   display: flex;
   width: 18.6vw;
   flex-direction: column;
   border: 1px solid black;
   border-radius: 0.5vw;
   margin-top: 0.5vw;
   padding-top: 1vw;
   padding-bottom: 0.5vw;
   background-color: aliceblue;
}
.additionBlockContainer h1 {
   font-size: 0.8vw;
    margin: 0;
    margin-left: 1vw;
    margin-bottom: 0.5vw;
}
.cardDataContainerBox {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 1vw;
   width: 24vw; 
   border: 1px solid black;
   border-radius: 0.5vw;
   z-index: 100;
   background-color: #EAEAEA;
}
.cardDataContainer {  
      width: 24vw;
      height:95%;
      padding-top: 1vw;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      z-index: 10;
}
.cardDataTitle {
   height: 3vw;
   display: flex;
   align-items: center;
   margin-bottom: 1vw;
}
.cardDataTitle p {
   margin: 0;
   font-size: 1vw;
}
.cardDataContainer h1 {
   width: 8vw;
   color: black;
   display: flex;
   align-items: center;
   font-size: 1vw;
   margin-top: 0;
   margin-left: 0.5vw;
   margin-right: 1.5vw;
   margin-bottom: 0;
}
.cardDataContainer input {
   height: 2vw;
    width: 12.4vw;
    font-size: 1vw;
    background: none;
    border: 1px solid black;
    border-radius: 0.5vw;
    color: black;
    background-color: aliceblue;
}
.cardDataContainer select {
    height: 2vw;
    width: 12.2vw;
    font-size: 1vw;
    background: none;
    border: 1px solid black;
    border-radius: 0.5vw;
    color: black;
    background-color: aliceblue;
}
.cardDataTitleContent {
   height: 9vw;
   width: 46.8vw;
   display: block;
   align-items: center;
   border: 1px solid black;
   border-radius: 0.5vw;
   padding-bottom: 0.5vw;
   margin-bottom: 0;
}
.cardDataTitleContent h1 {
   color: black;
   font-size: 1vw;
   margin-left: 1vw;
}
.cardDataTitleContent textarea {
   font-size: 1vw;
   overflow-y: auto;
   color: black;
   height: 5.2vw;
   width: 42.5vw;
   margin-left: 1vw;
   margin-right: 1vw;
   resize: none;
   border: 1px solid black;
   padding-left: 1vw;
   padding-right: 1vw;
   border-radius: 0.5vw;
   background-color: aliceblue;
}
.cardPdfDocContainer {
   z-index: 2;
   margin-top: 1vw;
   margin-right: 1vw;
   margin-left: 1vw;
   border: 1px solid black;
   border-radius: 0.5vw;
   min-height: 44.4vw;
   width: 46.8vw;
   background-color: aliceblue;
}
